h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

form {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    margin: 32px 0 24px;
}


.NamesFields {
    display: grid;
    grid-auto-flow: column;
    gap: 24px;
}

.button, .loading-button {
    height: auto;
    background: #FF4114;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.loading-button {
    display: flex;
    min-height: 52px;
    pointer-events: none;
}

.button:hover {
    background: #F72F00;
}

.button:focus {
    background: #DC2A00;
}

.button:disabled {
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    color: #CCCCCC;
    pointer-events: none;
}

.disclaimer {
    font-size: 12px;
    line-height: 16px;
    color: #969BA5;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
    margin: auto;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}
.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: #FFFFFF;
    }
    50%, 100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

