.input-container {
    height: 56px;
    position: relative;
    width: initial;
    margin-bottom: 24px;
    transition: margin-bottom 0.5s;
}

.error-container {
    margin-bottom: 38px!important;
    transition: margin-bottom 0.5s;
}

.input {
    background: #F2F4F7;
    color: #4D4D4D;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.error {
    background: rgba(230, 70, 70, 0.1)!important;
    outline: 2px solid #E64646!important;
    transition: outline 0.5s;
}
.error-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #E64646;
    position: absolute;
    bottom: -19px;
    right: 0;
}
.placeholder {
    color: #4D4D4D;
    left: 16px;
    font-size: 16px;
    line-height: 24px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 16px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-15px);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    color: #969BA5;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

input {
    position: relative;
    padding: 16px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    width: -webkit-fill-available;
}

.input:focus, .input:not(:placeholder-shown){
    padding: 16px 16px 8px;
    height: 32px;
    outline: 1px solid #DCDCE6;
    transition: outline 0.5s;
    background: #FFFFFF;
}